/* Custom Font Declarations for VTM */
@font-face {
  font-family: 'Bodoni-BookItalic';
  src: url('./fonts/Bodoni-BookItalic.woff2') format('woff2'),
       url('./fonts/Bodoni-BookItalic.woff') format('woff'),
       url('./fonts/Bodoni-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BodoniSvtyTwoITCTT-Book';
  src: url('./fonts/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'),
       url('./fonts/BodoniSvtyTwoITCTT-Book.woff') format('woff'),
       url('./fonts/BodoniSvtyTwoITCTT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Bold-SC700';
  src: url('./fonts/GillSans-Bold-SC700.woff2') format('woff2'),
       url('./fonts/GillSans-Bold-SC700.woff') format('woff'),
       url('./fonts/GillSans-Bold-SC700.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Light';
  src: url('./fonts/GillSans-Light.woff2') format('woff2'),
       url('./fonts/GillSans-Light.woff') format('woff'),
       url('./fonts/GillSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Bold';
  src: url('./fonts/GillSans-Bold.woff2') format('woff2'),
       url('./fonts/GillSans-Bold.woff') format('woff'),
       url('./fonts/GillSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-SemiBold';
  src: url('./fonts/GillSans-SemiBold.woff2') format('woff2'),
       url('./fonts/GillSans-SemiBold.woff') format('woff'),
       url('./fonts/GillSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant-Bold';
  src: url('./fonts/Cormorant-Bold.woff2') format('woff2'),
       url('./fonts/Cormorant-Bold.woff') format('woff'),
       url('./fonts/Cormorant-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant-Light';
  src: url('./fonts/Cormorant-Light.woff2') format('woff2'),
       url('./fonts/Cormorant-Light.woff') format('woff'),
       url('./fonts/Cormorant-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant-LightItalic';
  src: url('./fonts/Cormorant-LightItalic.woff2') format('woff2'),
       url('./fonts/Cormorant-LightItalic.woff') format('woff'),
       url('./fonts/Cormorant-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant-Regular';
  src: url('./fonts/Cormorant-Regular.woff2') format('woff2'),
       url('./fonts/Cormorant-Regular.woff') format('woff'),
       url('./fonts/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant-SemiBold';
  src: url('./fonts/Cormorant-SemiBold.woff2') format('woff2'),
       url('./fonts/Cormorant-SemiBold.woff') format('woff'),
       url('./fonts/Cormorant-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant-SemiBoldItalic';
  src: url('./fonts/Cormorant-SemiBoldItalic.woff2') format('woff2'),
       url('./fonts/Cormorant-SemiBoldItalic.woff') format('woff'),
       url('./fonts/Cormorant-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond-Bold';
  src: url('./fonts/CormorantGaramond-Bold.woff2') format('woff2'),
       url('./fonts/CormorantGaramond-Bold.woff') format('woff'),
       url('./fonts/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond-Regular';
  src: url('./fonts/CormorantGaramond-Regular.woff2') format('woff2'),
       url('./fonts/CormorantGaramond-Regular.woff') format('woff'),
       url('./fonts/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond-SemiBold';
  src: url('./fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
       url('./fonts/CormorantGaramond-SemiBold.woff') format('woff'),
       url('./fonts/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CormorantGaramond-Italic';
  src: url('./fonts/CormorantGaramond-Italic.woff2') format('woff2'),
       url('./fonts/CormorantGaramond-Italic.woff') format('woff'),
       url('./fonts/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CormorantGaramond-LightItalic';
  src: url('./fonts/CormorantGaramond-LightItalic.woff2') format('woff2'),
       url('./fonts/CormorantGaramond-LightItalic.woff') format('woff'),
       url('./fonts/CormorantGaramond-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
